.header {
  display: flex;
  justify-content: space-between;
}
.header__icon {
  width: 20px;
  height: 20px;
}
.header__text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 31px;
  font-style: oblique;
}
